---

---

<section class="flex py-20 px-50 justify-between">
  <!--Algunos beneficios -->
  <article class="flex flex-col w-[600px] h-[250px]">
    <div class="flex w-[400px] h-[250px] gap-10">
      <svg class="w-[60px] h-[60px]">
        <use href="/icons/sprite.svg#beneficios-icon"></use>
      </svg>
      <h2 class="text-2xl text-gray-600">
        Algunos beneficios <br />
        del Steel Frame
      </h2>
    </div>
    <p class="text-md leading-[1.7]">
      Desde el 2018 se reconoce al Steel Frame <br />
      como sistema de construcción <br />
      tradicional, según el Ministerio del <br />
      Interior, Obras Públicas y Vivienda, <br />
      (Resolución 5-E2018).
    </p>
  </article>

  <!--Caracteristicas Steel -->
  <article class="flex w-[900px] h-full justify-between p-10 gap-10">
    <div class="flex flex-col w-auto h-auto items-center">
      <svg class="w-[60px] h-[60px]">
        <use href="/icons/sprite.svg#eficiencia"></use>
      </svg>
      <h3 class="text-lg text-center">Menor tiempo de obra</h3>
      <p class="text-center">Entre 40% y 60%</p>
    </div>

    <div class="flex flex-col w-auto h-auto items-center">
      <svg class="w-[60px] h-[60px]">
        <use href="/icons/sprite.svg#presupuesto"></use>
      </svg>
      <h3 class="text-lg text-center">Certeza presupuestaria</h3>
      <p class="text-center">Datos exactos de contratación</p>
    </div>

    <div class="flex flex-col w-auto h-auto items-center">
      <svg class="w-[60x] h-[60px]">
        <use href="/icons/sprite.svg#eficiencia"></use>
      </svg>
      <h3 class="text-lg text-center">
        Mayor ahorro energético y confort térmico
      </h3>
      <p class="text-center">Menor consumo en refrigeración y calefacción</p>
    </div>
  </article>
</section> 