---

---

<div class="relative h-56 overflow-hidden rounded-lg md:h-96">
  <!-- Item 1 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/1.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 2 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/2.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 3 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/3.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 4 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/4.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 5 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/5.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 6 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/6.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 7 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/7.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 8 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/8.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
  <!-- Item 9 -->
  <div class="hidden duration-700 ease-in-out" data-carousel-item>
    <img
      src="/public/imagenes/por-que-elegirnos/obra-gris/9.webp"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />
  </div>
</div>
