---

---

<section>
  <div class="w-full h-full py-10 px-50 bg-[#EFEDED]">
    <svg class="w-[60px] h-[60px]">
      <use href="/icons/sprite.svg#comoLoHacemos"></use>
    </svg>
    <h2 class="text-2xl text-gray-600">
      ¿Cómo lo hacemos?<br />
      Etapas de trabajo
    </h2>
  </div>
</section>
