---

---

<section>
  <div
    class="w-full h-full flex gap-5 py-10 pl-5 sm:pl-25 md:pl-30 lg:pl-40 bg-[#EFEDED]"
  >
    <svg class="w-14 h-14 lg:w-16 lg:h-16 flex-shrink-0">
      <use href="/icons/sprite.svg#comoLoHacemos"></use>
    </svg>
    <h2 class="text-2xl md:text-xl w-full text-gray-600">
      ¿Cómo lo hacemos?<br />
      Etapas de trabajo
    </h2>
  </div>
</section>
