---
import CarrouselObraTerminada from "../porQueElegirnosComponents/carrousels/carrouselModalidadDeTerminacion.astro";
---

<section
  class="w-full h-full flex pt-10 pb-20 px-40 justify-between bg-[#EFEDED]"
>
  <article class="flex flex-col p-5 gap-10">
    <div class="flex items-start gap-2 flex-col">
      <h2 class="text-3xl pl-5 text-gray-600">Modalidad de terminación</h2>
      <h2 class="text-3xl pl-5 text-gray-600">
        <strong>Llave en mano</strong>
      </h2>
    </div>

    <div>
      <p class="text-lg pt-5 pl-5 leading-[1.7]">
        Consideramos llave en mano a la <strong>
          obra totalmente <br />
          acabada</strong
        >, es decir, obra gris más el conjunto de las <br />
        terminaciones que la conforman: <br />
      </p>
      <ul class="list-disc list-inside ml-5 pl-5 pt-5 leading-[1.7]">
        <li>Colocación de aberturas</li>
        <li>Pisos y revestimientos</li>
        <li>Pintura</li>
        <li>Instalación de griferías y sanitarios</li>
        <li>Instalación de muebles de cocina</li>
        <li>
          Pruebas y puesta en marcha para asegurar<br />
          los sistemas funcionan correctamente.
        </li>
      </ul>
    </div>
  </article>
  <aside>
    <div class="relative w-[800px] h-[550px] rounded-lg">
      <CarrouselObraTerminada />
    </div>
  </aside>
</section>
