---
import CarrouselObraTerminada from "@/components/porQueElegirnosComponents/carrousels/carrouselModalidadDeTerminacion.astro";
---

<section
  class="w-[100%] lg:w-full mx-auto min-h-[50vh]
    grid grid-cols-1 md:grid-cols-2
    gap-1 md:gap-1 lg:gap-6
    items-center
    max-[700px]:py-6 py-10
    px-6 md:px-20 lg:px-30 xl:px-40
    bg-[#EFEDED]"
>
  <!-- Texto completo -->
  <article
    class="flex flex-col justify-center max-w-md order-1 md:order-1 items-start text-left"
  >
    <h2
      class="text-[#545151] xl:text-2xl lg:text-xl text-md font-bold text-left sm:pb-0 sm:pt-5 md:pt-10 pb-2 lg:pb-4 xl:pb-6"
    >
      Modalidad de terminación<br />
      <strong>Llave en mano</strong>
    </h2>
    <div class="mt-0 md:mt-0 block">
      <p
        class="lg:text-md md:text-sm text-xs leading-[1.7] lg:pb-4 text-justify text-gray-600"
      >
        Consideramos llave en mano a la <strong>obra totalmente acabada</strong
        >, es decir, obra gris más el conjunto de las terminaciones que la
        conforman:
      </p>
      <ul
        class="xl:text-lg lg:text-sm text-xs leading-[1.7] text-gray-600 list-disc list-inside ml-5 xl:pb-8 lg:pb-6 md:pb-5 sm:pb-10"
      >
        <li>Colocación de aberturas</li>
        <li>Pisos y revestimientos</li>
        <li>Pintura</li>
        <li>Instalación de griferías y sanitarios</li>
        <li>Instalación de muebles de cocina</li>
        <li>Pruebas y puesta en marcha para asegurar los sistemas funcionan correctamente.</li>
      </ul>
    </div>
  </article>

  <!-- Carrousel -->
  <aside class="w-full order-3 relative">
    <div class="relative w-full aspect-[800/550] rounded-lg overflow-hidden">
      <CarrouselObraTerminada />
    </div>
  </aside>
</section>
