---
import ModalObraGris from "./modalObraGris.astro";
import { Image } from "astro:assets";
import ObraGris1 from "@/assets/por-que-elegirnos/obra-gris/obra-gris-1.webp";
---

<section class="flex pb-20 px-40 justify-between bg-[#EFEDED]">
  <article class="flex flex-col p-10 gap-10">
    <h2 class="text-2xl text-gray-600">
      Modalidad de construcción<br />
      <strong>Obra gris</strong>
    </h2>
    <p class="text-lg leading-[1.7] text-gray-600">
      La obra Gris es una <strong>obra "sin terminaciones",</strong><br />
      que abarca el 80 % del proyecto.
    </p>
    <ul class="text-lg leading-[1.7] text-gray-600 list-disc list-inside ml-5">
      <p>Consiste en:</p>
      <li>Instalaciones Bajo Platea</li>
      <li>Platea de H°A° y vigas según calculo</li>
      <li>Panelizado y montaje Steel Frame</li>
      <li>Rigidización OSB normalizado</li>
      <li>Cubierta y zingueria</li>
      <li>Aislaciones</li>
      <li>Sistema EIFS</li>
      <li>Instalaciones</li>
      <li>Emplacados interiores</li>
      <li>Cielorrasos</li>
      <li>Colocación de premarcos</li>
    </ul>
  </article>
  <aside
    class="relative w-[800px] h-[550px] mt-15 rounded-lg overflow-hidden flex items-center justify-center"
  >
    <div class="w-[800px] h-[550px]">
      <Image
        src={ObraGris1}
        alt="Obra Gris"
        class="block w-[800px] h-[550px] object-cover rounded-lg object-contain"
        loading="eager"
      />
      <!-- Modal toggle -->
      <button
        data-modal-target="static-modal"
        data-modal-toggle="static-modal"
        class="absolute bottom-1 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        type="button"
      >
        Toggle modal
      </button>

      <!-- Main modal -->
      <ModalObraGris />
    </div>
  </aside>
</section>
