<section class="w-full h-full flex py-10 px-40 p justify-between">
  <article class="flex flex-col p-10">
    <p class="text-[#545151] text-4xl font-bold text-left pb-10">
      Somos una empresa líder<br />
      en soluciones innovadoras <br />
      de construcción mediante <br />
      el sistema Steel Frame.
    </p>
    <p class="text-lg p-1 leading-[1.7]">
      ¿Qué hacemos?<br />
      <strong> Trabajamos con Steel Framing</strong>, un <br />
      sistema constructivo industrializado <br />
      basado en la <strong
        >utilización de perfiles <br />
        estructurales de acero liviano,</strong
      > en <br />
      conjunto con otros componentes de
      <br />aislación, división, fijación y
      <br />terminación.
    </p>
  </article>
  <aside>
    <div
      id="controls-carousel"
      class="relative w-[900px] h-[550px]"
      data-carousel="slide"
      data-carousel-interval="3000"
    >
      <!-- Carousel wrapper -->
      <div class="relative h-full overflow-hidden rounded-lg">
        <!-- Item 1 -->
        <div
          class="hidden duration-700 ease-in-out"
          data-carousel-item="active"
        >
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/1.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-700 ease-in-out"
          data-carousel-item="active"
        >
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/2.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/3.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/4.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/5.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 6 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/6.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 7 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/public/imagenes/por-que-elegirnos/carrousel-que-hacemos/7.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
    </div>
  </aside>
</section>
