---
import CarrouselQueHacemos from "./carrousels/carrouselQueHacemos.astro";
---

<section class="w-full h-full flex py-10 px-40 p justify-between">
  <article class="flex flex-col p-10">
    <p class="text-[#545151] text-4xl font-bold text-left pb-10">
      Somos una empresa líder<br />
      en soluciones innovadoras <br />
      de construcción.
    </p>
    <p class="text-lg p-1 leading-[1.7]">
      <strong> Hacemos simple lo complejo.</strong>
      <br />
      Unimos la precisión del sistema Steel Frame <br />
      con un <strong>equipo profesional </strong>que te guía paso a paso. <br />
      Utilizamos la planificación, el control técnico y, <br />
      materiales certificados, <br />
      logrando <strong>obras más rápidas, limpias y seguras.</strong>
    </p>
  </article>
  <aside>
    <div class="relative w-[900px] h-[550px]">
      <CarrouselQueHacemos />
    </div>
  </aside>
</section>
