---
import CarrouselQueHacemos from "./carrousels/carrouselQueHacemos.astro";
---

<section class="w-full h-full flex py-10 px-40 p justify-between">
  <article class="flex flex-col p-10 w-[400px]">
    <p class="text-[#545151] text-4xl font-bold text-left pb-10 text-justify">
      Somos una empresa líder en soluciones innovadoras de construcción.
    </p>
    <p class="text-lg p-1 leading-[1.7] text-justify">
      <strong> Hacemos simple lo complejo.</strong>
      Unimos la precisión del sistema Steel Frame con un <strong
        >equipo profesional
      </strong>que te guía paso a paso. Utilizamos la planificación, el control
      técnico y, materiales certificados, logrando <strong
        >obras más rápidas, limpias y seguras.</strong
      >
    </p>
  </article>
  <aside>
    <div class="relative w-[800px] h-[550px]">
      <CarrouselQueHacemos />
    </div>
  </aside>
</section>
