---

---

<section class="w-full h-full flex justify-between py-15 px-50">
  <div class="flex flex-col items-center gap-5">
    <img
      src="/public/icons/construccion.svg"
      alt="construccion"
      class="h-[70px] w-[60px]"
    />
    <p class="text-center">
      <strong>5 años </strong> construyendo <br />con Steel Frame
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <img
      src="/public/icons/familia.svg"
      alt="familia"
      class="h-[70px] w-[60px]"
    />
    <p class="text-center">
      más de <strong>30 familias</strong>
      <br />confiaron en nosotros
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <img
      src="/public/icons/equipo.svg"
      alt="equipo"
      class="h-[70px] w-[60px]"
    />
    <p class="text-center">
      más de <strong>20 personas</strong>
      <br />capacitadas integran <br /> nuestro equipo
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <img
      src="/public/icons/edificio.svg"
      alt="edificio"
      class="h-[70px] w-[60px]"
    />
    <p class="text-center">
      presentes en la <strong>provincia de <br />Santa Fe </strong>
      y asistimos a <strong>todo el país</strong>
    </p>
  </div>
</section>
