---
import { Image } from "astro:assets";
import NativaImage from "@/assets/modelos/nativa/nativa-1.webp";
---

<section
  class="w-full lg:w-[90%] xl:w-full mx-auto min-h-[auto]
    grid grid-cols-1 lg:grid-cols-2
    gap-4 lg:gap-6
    items-center
    py-10 lg:py-20
    px-6 md:px-20 lg:px-30 xl:px-40"
>
  <!-- Título + Texto (siempre primero) -->
  <article class="flex flex-col justify-center max-w-md order-1 lg:order-1">
    <h2
      class="text-xl md:text-2xl lg:text-3xl xl:text-4xl text-gray-700 font-bold"
    >
      EL ESPACIO QUE TU HOGAR ESTABA ESPERANDO.
    </h2>
    <p
      class="text-xs md:text-sm lg:text-md pt-2 leading-[1.7] text-justify text-gray-700 tracking-wide"
    >
      Un módulo de 28 m² independiente y versátil, que se integra a tu terreno
      sin obras invasivas. Una solución llave en mano, equipada para funcionar
      como quincho, oficina o vivienda desde el primer día. Una inversión
      rentable y segura, NATIVA te permite ampliar tu casa o generar ingresos
      de inmediato. La forma más simple de crecer con rapidez, calidad y
      diseño.
    </p>
  </article>

  <!-- Imagen (siempre después del texto) -->
  <aside
    class="lg:w-full w-[80%] h-[80%] order-2 lg:order-2 justify-self-center lg:justify-self-auto"
  >
    <Image
      src={NativaImage}
      alt="Nativa"
      class="w-full aspect-[16/9] object-fill"
    />
  </aside>
</section>
