---

---

<section class="w-full h-full flex py-10 px-40 justify-between">
  <article class="flex flex-col p-10 gap-10">
    <div class="flex items-center gap-2">
      <svg class="h-[70px] w-[60px] fill-gray-600"
        ><use href="/icons/sprite.svg#construccion-icon"></use>
      </svg>
      <h2 class="text-3xl pl-5 text-gray-600">
        Nuestro equipo <br /> marca diferencia
      </h2>
    </div>
    <div>
      <p class="text-lg pt-5 leading-[1.7]">
        Con sede en Santa Fe, combinamos <br />
        una sólida infraestructura comercial, <br />
        de ingeniería y logística con una <br />
        experiencia comprobada en el sector.<br />
        Nuestro equipo de profesionales <br />
        altamente capacitado y comprometido,
        <br />trabaja con un enfoque en valores,
        <br />eficiencia y excelencia.
      </p>
    </div>
  </article>
  <aside>
    <div
      id="controls-carousel"
      class="relative w-[800px] h-[550px] rounded-lg"
      data-carousel="slide"
      data-carousel-interval="3000"
    >
      <!-- Carousel wrapper -->
      <div class="relative h-full overflow-hidden rounded-lg">
        <!-- Item 1 -->
        <div
          class="hidden duration-700 ease-in-out rounded-lg"
          data-carousel-item="active"
        >
          <img
            src="/public/imagenes/por-que-elegirnos/nuestro-equipo/mauro.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div
          class="hidden duration-700 ease-in-out"
          data-carousel-item="active"
        >
          <img
            src="/public/imagenes/por-que-elegirnos/nuestro-equipo/bruno.webp"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </aside>
</section>
