---
import { Image } from "astro:assets";
import HabitatImage from "@/assets/modelos/habitat/habitat-hero.webp";
---

<section class="relative w-full mt-18 h-[calc(730px-6rem)]">
  <Image
    src={HabitatImage}
    alt="Habitat"
    class="absolute inset-0 w-full h-full object-cover -z-10 brightness-65"
    loading="eager"
  />
  <div
    class="relative z-10 h-full flex flex-col justify-center items-center text-white"
  >
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-[8rem] xl:text-[8rem] font brightness-93 tracking-[2rem]">
        HÁBITAT
      </h1>
      <h2 class="xl:text-2xl max-w-xl">
        Espacio para crecer, diseño para vivir.
      </h2>
    </div>
  </div>
</section>
