---
interface Props {
  hrefVolver?: string;
  hrefSiguiente?: string;
  textVolver?: string;
  textSiguiente?: string;
}
const {
  hrefVolver = "/modelos/",
  hrefSiguiente = "#",
  textVolver = "Volver a modelos SteelHome",
  textSiguiente = "Ver Modelo siguiente",
} = Astro.props;
---

<div
  class="flex justify-between pb-10 pt-30 px-5 sm:px-20 md:px-25 lg:px-30 text-gray-400"
>
  <a
    href={hrefVolver}
    class="italic flex gap-2 text-xs sm:text-sm md:text-base"
  >
    <svg class="w-5 h-5 md:w-6 md:h-6 text-gray-400">
      <use href="/icons/sprite.svg?v2#modeloAnterior"></use>
    </svg>
    {textVolver}
  </a>
  <a
    href={hrefSiguiente}
    class="italic flex gap-2 text-xs sm:text-sm md:text-base"
  >
    {textSiguiente}<svg class="w-5 h-5 md:w-6 md:h-6 text-gray-400">
      <use href="/icons/sprite.svg?v2#modeloSiguiente"></use>
    </svg>
  </a>
</div>
