---
import { Image } from "astro:assets";
import ContactoImagen from "../../assets/contacto/contacto-steel-mat.svg";
import ModalFormularios from "../modalFormularios.astro";
---

<section class="w-full min-h-[calc(100vh-96px)] bg-gray-50 pt-32 pb-24">
  <div class="w-full max-w-7xl mx-auto px-8 lg:px-12">
    <!-- Bloque superior centrado (contenido independiente) -->
    <div class="text-center mb-24">
      <h1 class="text-6xl font-extrabold text-gray-700 mb-4">
        Dejanos tus datos
      </h1>

      <p class="text-xl text-gray-600">
        Nosotros nos comunicamos<br />
        con vos.
      </p>
    </div>

    <!-- Grilla de dos columnas -->

    <div
      class="grid grid-cols-1 lg:grid-cols-[2fr_1fr] gap-52 items-start max-w-7xl mx-auto px-8"
    >
      <!-- Columna izquierda -->
      <div>
        <form id="form-capacitaciones" class="w-full space-y-12">
          <div>
            <label
              for="nombreApellido"
              class="block mb-2 text-md font-medium text-gray-900 dark:text-[#545151]"
              >Nombre y Apellido*</label
            >
            <input
              type="text"
              id="nombreApellido"
              name="nombreApellido"
              class="bg-transparent hover:bg-gray-300/50 border-0 border-b border-gray-300 text-gray-900 text-sm focus:ring-0 focus:border-gray-500 block w-full p-2.5 dark:border-gray-400 dark:placeholder-gray-400 dark:text-black dark:focus:border-gray-500 transition-colors duration-200"
              placeholder="Juan Pérez"
              required
            />
          </div>

          <div>
            <label
              for="email"
              class="block mb-2 text-md font-medium text-gray-900 dark:text-[#545151]"
              >E-mail</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="bg-transparent hover:bg-gray-300/50 border-0 border-b border-gray-300 text-gray-900 text-sm focus:ring-0 focus:border-gray-500 block w-full p-2.5 dark:border-gray-400 dark:placeholder-gray-400 dark:text-black dark:focus:border-gray-500 transition-colors duration-200"
              placeholder="usuario@ejemplo.com"
              required
            />
          </div>

          <div>
            <label
              for="telefono"
              class="block mb-2 text-md font-medium text-gray-900 dark:text-[#545151]"
              >Teléfono*</label
            >
            <input
              type="tel"
              id="telefono"
              name="telefono"
              class="bg-transparent hover:bg-gray-300/50 border-0 border-b border-gray-300 text-gray-900 text-sm focus:ring-0 focus:border-gray-500 block w-full p-2.5 dark:border-gray-400 dark:placeholder-gray-400 dark:text-black dark:focus:border-gray-500 transition-colors duration-200"
              placeholder="(123) 456-7890"
              required
            />
          </div>
          <div class="flex justify-center">
            <button
              type="submit"
              class="bg-orange-500 hover:bg-orange-600 text-white px-16 py-2 rounded-lg text-lg"
            >
              Enviar
            </button>
          </div>
        </form>
        <ModalFormularios id="modal-formularios" />
      </div>

      <!-- Columna derecha -->
      <div class="pt-20 space-y-6">
        <Image src={ContactoImagen} alt="Steelmat" class="mb-8" />

        <div class="text-gray-700 space-y-2">
          <p>1 Junta 2644, Santa Fe</p>
          <p>+54 342 524 2899</p>
          <p>Argentina</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { FormHandler } from "../../utils/formHandler.js";
  import { capacitacionesSchema } from "../../validation";
  import { Modal } from "flowbite";

  document.addEventListener("DOMContentLoaded", () => {
    const modalElement = document.getElementById("modal-formularios");
    const modal = new Modal(modalElement);

    const formHandler = new FormHandler();

    formHandler.setupForm("form-capacitaciones", capacitacionesSchema, {
      type: "capacitaciones",
      onSuccess: () => {
        modal.show();
      },
      errorMessage:
        "Hubo un error al enviar el formulario. Por favor, intentá nuevamente.",
    });
  });
</script>
