---
import MainLayout from "@/layouts/MainLayout.astro";
import InformacionSeccion from "@/components/homeComponents/informacion.astro";
import Habitat from "@/components/homeComponents/habitat.astro";
import ProyectosAMedida from "@/components/homeComponents/proyectosAMedida.astro";
import ConsultoriaAProfesionales from "@/components/homeComponents/consultoriaProfesionales.astro";
---

<MainLayout
  title="SteelMat - Steel Home"
  description="SteelMat es una aplicación web para la gestión de proyectos de construcción, enfocada en el cálculo y optimización de estructuras de acero."
>
  <section class="relative w-full h-screen">
    <img
      src="/public/imagenes/heroHome.jpg"
      alt="Hero Image"
      class="w-full h-full object-cover"
    />
  </section>

  <InformacionSeccion />
  <Habitat />
  <ProyectosAMedida />
  <ConsultoriaAProfesionales />
</MainLayout>

<section class="consultoria"></section>
