---
import { Picture } from "astro:assets";
import ComoPodemosColaborarImage from "@/assets/consultoria-profesionales/como-podemos-colaborar.webp";
---

<section
  class="sm:w-[80%] md:w-[90%] lg:w-full mx-auto
    grid grid-cols-1 lg:grid-cols-[2fr_3fr]
    gap-4 lg:gap-6
    items-center
    py-10 lg:py-20
    px-6 md:px-20 lg:px-30 xl:px-40"
>
  <!-- Título + Texto (order-1) -->
  <article
    class="flex flex-col justify-center max-w-md order-1 md:order-1 gap-5"
  >
    <div class="flex items-start flex-col leading-[1.7]">
      <h2 class="text-xl md:text-xl lg:text-2xl text-gray-600">
        ¿Cómo podemos <br />colaborar?
      </h2>
    </div>

    <div>
      <p
        class="text-xs sm:text-sm md:text-sm lg:text-lg leading-[1.7] text-justify"
      >
        En SteelMat, transformamos tus proyectos con SteelFrame:
        <ul
          class="list-disc list-inside ml-4 md:ml-10 pl-2 md:pl-5 py-1 lg:py-2 leading-[1.7] space-y-2 lg:space-y-4 text-justify text-xs sm:text-sm md:text-md lg:text"
        >
          <li>
            <strong>Cálculo estructural:</strong> Diseños optimizados y sin errores
          </li>
          <li>
            <strong>Tecnología BIM:</strong> Visualizá cada detalle en 3D antes de
            contruir.
          </li>
          <li>
            <strong>Panelizado en taller:</strong> Reducción de tiempos en obra.
          </li>
          <li>
            <strong>Sguimiento técnico</strong> Te acompañamos en cada etapa del proyecto
          </li>
        </ul>
      </p>
    </div>
  </article>

  <!-- Imagen (order-2) -->
  <aside
    class="w-full order-2 md:order-2 md:pl-10 min-h-[350px] md:min-h-[350px] lg:min-h-[400px] px-5 lg:px0"
  >
    <Picture
      src={ComoPodemosColaborarImage}
      alt="Cómo podemos colaborar"
      formats={['avif', 'webp']}
      loading="eager"
      class="w-full h-full object-cover shadow-sm hover:drop-shadow-md transition-shadow duration-200"
    />
  </aside>
</section>
