<section
  class="w-full mx-auto
    grid grid-cols-1 md:grid-cols-[1fr_2fr] lg:grid-cols-[1fr_2fr]
    gap-8 md:gap-5
    py-10 md:py-20
    px-6
    md:pl-5 md:pr-20
    lg:pl-30 lg:pr-40
    items-center"
>
  <!-- Nuestra trayectoria (order-1) -->
  <article
    class="flex flex-col items-start justify-center order-1 pl-10 lg:pl-0"
  >
    <p
      class="text-3xl md:text-2xl lg:text-3xl text-gray-700 leading-[1.5] text-shadow-xs"
    >
      Nuestra trayectoria <br />
      nos representa. <br />
      5 años construyendo <br />
      con Steel Frame
    </p>
  </article>

  <!-- Características Steel (order-2) -->
  <article class="order-2">
    <div
      class="grid grid-cols-2 sm:gap-0 px-20 md:gap-20 lg:gap-30 items-start justify-items-center"
    >
      <div class="flex flex-col items-center text-center gap-2">
        <svg class="w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16">
          <use href="/icons/sprite.svg?v=2#construccion-icon" fill="#545151"
          ></use>
        </svg>
        <p class="text-xs sm:text-md lg:text-md text-gray-600">
          Más de 100 profesionales <br />
          ya confiaron en nosotros.
        </p>
      </div>

      <div class="flex flex-col items-center text-center gap-2">
        <svg class="w-10 h-10 md:w-12 md:h-12 lg:w-14 lg:h-14">
          <use href="/icons/sprite.svg?v=2#asesoramiento" fill="#545151"></use>
        </svg>
        <p class="text-xs sm:text-md lg:text-md text-gray-600">
          Asesoramiento presencial <br />
          en toda la provincia, asistencia <br />
          virtual en todo el país.
        </p>
      </div>
    </div>
  </article>
</section>
