<section class="flex py-20 px-50 justify-between">
  <!--Algunos beneficios -->
  <article class="flex flex-col w-[600px] h-[250px]">
    <div class="flex w-[400px] h-[250px] gap-10">
      <p class="text-4xl text-gray-600 leading-[1.5]">
        Nuestra trayectoria <br />
        nos representa. <br />
        5 años construyendo <br />
        con Steel Frame
      </p>
    </div>
  </article>

  <!--Caracteristicas Steel -->
  <article class="flex w-[900px] h-full justify-between p-10 gap-10">
    <div class="flex flex-col w-auto h-auto items-center">
      <svg class="w-[60px] h-[60px]">
        <use href="/icons/sprite.svg?v=2#construccion-icon"></use>
      </svg>
      <p class="text-center pt-5">
        Más de 100 profesionales <br />
        ya confiaron en nosotros.
      </p>
    </div>

    <div class="flex flex-col w-auto h-auto items-center">
      <svg class="w-[61px] h-[69px]">
        <use href="/icons/sprite.svg?v=2#asesoramiento"></use>
      </svg>
      <p class="text-center">
        Asesoramiento presencial <br />
        en toda la provincia, asistencia <br />
        virtual en todo el país.
      </p>
    </div>
  </article>
</section>
