---
import {Image} from "astro:assets";
import EssentiaImage from "@/assets/modelos/essentia/essentia-1.webp"

---

<section class="w-full h-full flex py-20 px-40 justify-between">
  <article class="flex flex-col p-10 gap-5">
    <div class="flex flex-col items-start w-[385px]">
      <h2 class="text-4xl text-gray-700 font-bold ">UNA VIVIENDA CON <br/>
    PROYECCIÓN A FUTURO</h2>
    </div>
    <div>
      <p class="text-md pt-2 leading-[1.7] text-justify text-gray-700 w-[400px] tracking-wide">
        Un hogar moderno, funcional y adaptable, con opciones de elección de materiales y 
        una estructura pensada para ampliarse según tus necesidades futuras.
        Una inversión accesible y <strong>apta para crédito hipotecario,</strong> ESSENTIA es la opción ideal 
        para empezar con una casa propia, cómoda y con visión de crecimiento.
      </p>
    </div>
    
  </article>
  <aside class="w-[800px] h-">
    <Image src={EssentiaImage} alt="Essentia" class="w-full aspect-[16/9] object-fill"/>
  </aside>
</section>
