---

---

<nav
  class="absolute top-0 left-0 w-full z-20 flex justify-center items-center bg-transparent shadow-[0_9px_9px_rgba(84,81,81,0.3)] gap-x-18"
>
  <img
    src="/steelmaticon.svg"
    alt="steelmat"
    class="h-10 w-auto mr-3 gap-x-18"
  />
  <ul class="flex gap-x-18 p-6">
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:underline hover:decoration-white hover:decoration-1"
        >¿Por qué elegirnos?</a
      >
    </li>
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:underline hover:decoration-white hover:decoration-1"
        >Soluciones habitacionales</a
      >
    </li>
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:underline hover:decoration-white hover:decoration-1"
        >Proyectos a medida</a
      >
    </li>
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:underline hover:decoration-white hover:decoration-1"
        >Industrial</a
      >
    </li>
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:underline hover:decoration-white hover:decoration-1"
        >Consultoria profesional</a
      >
    </li>
    <li>
      <a
        href="/"
        class="text-white font-semibold hover:decoration-white hover:decoration-2"
        >Capacitaciones</a
      >
    </li>
    <li>
      <a
        href="/solicitar-cotizacion"
        class="bg-orange-600 text-white px-3 py-2 rounded hover:bg-orange-700 transition gap-x-18"
        >Solicitar cotizacion</a
      >
    </li>
  </ul>
</nav>
