---
import DescubrirMas from "./descubrirMas.astro";
import { Image } from "astro:assets";
import ProyectosAmedida from "@/assets/home/proyectosAmedida.webp";
---

<section class="pb-5">
  <article class="flex justify-center w-full h-full relative">
    <div class="absolute inset-0 bg-black/50"></div>
    <Image
      loading="lazy"
      class="w-full h-full object-cover"
      src={ProyectosAmedida}
      alt="Proyectos a medida"
    />
    <!-- Contenedor flex para organizar el contenido verticalmente -->
    <div
      class="absolute inset-0 flex flex-col items-center justify-center gap-8 z-10"
    >
      <h2 class="text-6xl text-white font-bold text-center pb-15">
        Consultoría para profesionales
      </h2>

      <p class="text-2xl text-white text-center px-4 pb-15 leading-[1.7]">
        Tenemos experiencia, por eso ofrecemos a profesionales de la <br />
        construcción nuestros servicios de traducción de proyectos,<br />
        trabajando mano a mano con colegas para garantizar<br />
        acompañamiento técnico y resultados precisos.
      </p>

      <!-- Contenedor para botón y enlace -->
      <div class="flex items-center gap-20 mt-4">
        <button
          type="button"
          class="text-white bg-gray-400/50 focus:outline-none
           hover:bg-gray-700 focus:ring-3 focus:ring-gray-300 font-medium rounded-lg text-sm
           px-5 py-2.5"
        >
          Consultar servicios
        </button>
        <DescubrirMas class="#svg: brightness-0 invert" color="text-white" />
      </div>
    </div>
  </article>
</section>
