---
import DescubrirMas from "./descubrirMas.astro";
import { Image } from "astro:assets";
import ProyectosAmedida from "@/assets/home/proyectosAmedida.webp";
---

<section class="pb-5">
  <article class="flex justify-center w-full h-full relative">
    <div class="absolute inset-0 bg-black/50"></div>
    <Image
      loading="lazy"
      class="w-full h-full object-cover"
      src={ProyectosAmedida}
      alt="Proyectos a medida"
    />
    <!-- Contenedor flex para organizar el contenido verticalmente -->
    <div
      class="absolute inset-0 flex flex-col items-center justify-center gap-4 sm:gap-8 z-10"
    >
      <h2
        class="xl:text-6xl lg:text-4xl md:text-2xl sm:text-xl text-lg text-white font-bold text-center xl:pb-15 lg:pb-10 md:pb-4 sm:pb-2 pb-0"
      >
        Consultoría para profesionales
      </h2>

      <p
        class="xl:text-2xl lg:text-xl md:text-lg sm:text-sm text-xs text-white text-center px-4 xl:pb-15 lg:pb-10 md:pb-4 sm:pb-2 pb-0 leading-[1.7]"
      >
        Tenemos experiencia, por eso ofrecemos a profesionales de la <br />
        construcción nuestros servicios de traducción de proyectos,<br />
        trabajando mano a mano con colegas para garantizar<br />
        acompañamiento técnico y resultados precisos.
      </p>

      <!-- Contenedor para botón y enlace -->
      <div class="flex items-center sm:gap-20 sm:mt-4 gap-13 mt-2">
        <a
          href="/servicios"
          class="text-white bg-gray-400/50 focus:outline-none
           hover:bg-gray-700 focus:ring-3 focus:ring-gray-300 font-normal sm:font-medium sm:rounded-lg rounded-md text-xs md:text-xs lg:text-sm
           sm:px-5 sm:py-2.5 px-3 py-2"
        >
          Consultar servicios
        </a>
        <DescubrirMas
          href="/consultoria-para-profesionales"
          class="#svg: brightness-0 invert"
          color="text-white"
          textSize="text-xs md:text-sm"
          iconSize="w-2 h-2 md:w-4 md:h-4"
        />
      </div>
    </div>
  </article>
</section>
