---
// Define la interface para las props
interface Props {
  class?: string;
  color?: string;
  href?: string;
  text?: string;
  textSize?: string;
  iconSize?: string;
}

// Destructura las props
const {
  class: className,
  color = "text-[#545151]",
  href = "#",
  text = "Descubrir más",
  textSize = "text-md",
  iconSize = "w-5 h-5",
} = Astro.props;
---

<a href={href} class:list={["flex hover:underline", className]}>
  <span class:list={[color, textSize]}>{text}</span>
  <svg
    class:list={[iconSize, "inline-block ml-2 mt-0.5", color, "fill-current"]}
  >
    <use href="/icons/sprite.svg#flecha-icon"></use>
  </svg>
</a>
