---
// Define la interface para las props
interface Props {
  class?: string;
  color?: string;
  href?: string;
  text?: string;
}

// Destructura las props
const { class: className, color = "text-[#545151]", href = "#", text = "Descubrir más" } = Astro.props;
---

<a href={href} class:list={["flex hover:underline", className]}>
  <span class={color}>{text}</span>
  <svg class:list={["w-5 h-5 inline-block ml-2 mt-0.5", color, "fill-current"]}>
    <use href="/icons/sprite.svg#flecha-icon"></use>
  </svg>
</a>
