---
import CarrouselHabitat from "@/components/homeComponents/carrouselHabitat.astro";
---

<section class="w-full h-full flex py-10 px-40 p justify-between">
  <article class="flex flex-col p-10">
    <h2 class="text-[#545151] text-5xl font-bold text-left pb-15">Habitat</h2>
    <p class="text-lg p-2 leading-[1.7]">
      Descubrí nuestros <strong>modelos de viviendas <br />prediseñados</strong>
      estructuralmente pero <br />adaptables a tus gustos y/o preferencias <br
      />con estructura de Steel Frame. <br /> Diseños modernos, sustentables y listos
      <br />para habitar en tiempos récord.
    </p>
    <a href="" class="flex py-20 hover:underline text-[#545151]">
      Descubrir más
      <svg class="w-5 h-5 ml-2 mt-0.5">
        <use href="/icons/sprite.svg#flecha-icon"></use>
      </svg>
    </a>
  </article>
  <aside class="relative w-[900px] h-[500px]">
    <CarrouselHabitat />
  </aside>
</section>
