---
import { Image } from "astro:assets";
import Whatsappicon from "@/components/whatsappicon.astro";
import HeroImage from "@/assets/home/SteelMat-hero.webp";
---

<section class="relative w-full h-[730px]">
  <Image
    src={HeroImage}
    alt="Consultoria para profesionales"
    loading="eager"
    class="absolute inset-0 w-full h-full object-cover -z-10"
  />
  <div
    class="relative z-10 h-full flex flex-col justify-center gap-4 px-6 md:px-12 text-white"
  >
    <div class="flex flex-col gap-5 pt-10 px-40">
      <div>
        <h1
          class="text-4xl md:text-5xl font-bold leading-tight drop-shadow-2xl"
        >
          Planificas, <br />
          Confías, <br />
          Construís. <br />
        </h1>
      </div>
      <div class="text-lg md:text-md max-w-md leading-[1.7] drop-shadow-lg">
        <strong
          >Diseñamos y construimos en steel Frame, un sistema que combia
          precisión,</strong
        >
        técnica, eficiencia energética y rapidez de ejeucción.
        <br />Desde viviendas hasta desarrollos industriales, planificamos para
        construir lo que viene.
      </div>
    </div>

    <a href="/servicios"><button
      class="mt-2 w-48 rounded-lg bg-white/80 ml-40 px-6 py-3 text-sm font-medium text-black hover:bg-orange-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-orange-300"
      type="button"
    >
      Ver servicios
    </button></a>

    <Whatsappicon />
  </div>
</section>
