---

---

<section class="w-full h-full flex justify-between py-15 px-50">
  <div class="flex flex-col items-center gap-5">
    <svg class="h-[70px] w-[60px]"
      ><use href="/icons/sprite.svg#construccion-icon" fill="#545151"></use>
    </svg>

    <p class="text-center">
      <strong>5 años </strong> construyendo <br />con Steel Frame
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <svg class="h-[70px] w-[60px]"
      ><use href="/icons/sprite.svg#familia-icon"></use>
    </svg>
    <p class="text-center">
      más de <strong>30 familias</strong>
      <br />confiaron en nosotros
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <svg class="h-[70px] w-[60px]"
      ><use href="/icons/sprite.svg#equipo-icon"></use>
    </svg>
    <p class="text-center">
      más de <strong>20 profesionales</strong>
      <br />integran nuestro equipo
    </p>
  </div>
  <div class="flex flex-col items-center gap-5">
    <svg class="h-[70px] w-[60px]"
      ><use href="/icons/sprite.svg#edificio-icon"></use>
    </svg>
    <p class="text-center">
      somos <strong>líderes</strong> en <br /><strong> Santa Fe </strong>
      y la región
    </p>
  </div>
</section>
