---

---

<section
  class="w-full h-full grid grid-cols-2 px-15 gap-y-10 sm:grid sm:grid-cols-2 sm:px-15 sm:gap-y-10 md:flex md:flex-row justify-between py-20 xl:px-50 lg:px-40 md:px-30"
>
  <div class="flex flex-col items-center xl:gap-5 md:gap-4 sm:gap-2">
    <svg
      class="lg:h-[70px] lg:w-[60px] md:h-[60px] md:w-[50px] h-[50px] w-[40px]"
      ><use href="/icons/sprite.svg#construccion-icon" fill="#545151"></use>
    </svg>

    <p class="text-center lg:text-lg md:text-md sm:text-sm text-xs">
      <strong>5 años </strong> construyendo <br />con Steel Frame
    </p>
  </div>
  <div class="flex flex-col items-center xl:gap-5 md:gap-4 sm:gap-2">
    <svg
      class="lg:h-[70px] lg:w-[60px] md:h-[60px] md:w-[50px] h-[50px] w-[40px]"
      ><use href="/icons/sprite.svg#familia-icon"></use>
    </svg>
    <p class="text-center lg:text-lg md:text-md sm:text-sm text-xs">
      más de <strong>30 familias</strong>
      <br />confiaron en nosotros
    </p>
  </div>
  <div class="flex flex-col items-center xl:gap-5 md:gap-4 sm:gap-2">
    <svg
      class="lg:h-[70px] lg:w-[60px] md:h-[60px] md:w-[50px] h-[50px] w-[40px]"
      ><use href="/icons/sprite.svg#equipo-icon"></use>
    </svg>
    <p class="text-center lg:text-lg md:text-md sm:text-sm text-xs">
      más de <strong>20 profesionales</strong>
      <br />integran nuestro equipo
    </p>
  </div>
  <div class="flex flex-col items-center xl:gap-5 md:gap-4 sm:gap-2">
    <svg
      class="lg:h-[70px] lg:w-[60px] md:h-[60px] md:w-[50px] h-[50px] w-[40px]"
      ><use href="/icons/sprite.svg#edificio-icon"></use>
    </svg>
    <p class="text-center lg:text-lg md:text-md sm:text-sm text-xs">
      somos <strong>líderes</strong> en <br /><strong> Santa Fe </strong>
      y la región
    </p>
  </div>
</section>
