---
import CarrouselModelos from "@/components/homeComponents/carrouselModelos.astro";
import DescubrirMas from "@/components/homeComponents/descubrirMas.astro";
---

<section
  class="sm:w-[80%] md:w-[90%] lg:w-full mx-auto mx-[400px]:min-h-[50vh] max-[766px]:min-h-[70vh] min-h-screen
    grid grid-cols-1 md:grid-cols-2
    gap-1 md:gap-1 lg:gap-6
    items-center
    max-[700px]:py-6 py-10
    px-6 md:px-20 lg:px-30 xl:px-40"
>
  <!-- Texto completo - En móvil usamos flex interno para reordenar -->
  <article class="flex flex-col justify-center max-w-md order-1 md:order-1">
    <h2
      class="text-[#545151] xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl font-bold
        sm:pb-0 sm:pt-5 md:pt-10 md:pb-0 lg:pb-4 xl:pb-6"
    >
      Modelos <br />
      prediseñados
    </h2>

    <!-- En móvil: ocultar este texto, mostrar el de abajo -->
    <div class="hidden md:block">
      <p
        class="xl:text-lg lg:text-md text-xs leading-[1.7] xl:pb-8 lg:pb-6 md:pb-5 sm:pb-10"
      >
        Modelos creados con <strong
          >tecnología, confort y la eficiencia
        </strong>del sistema Steel Frame, para que vivas el proceso de construir
        tu hogar con tranquilidad y en pocos meses. Nos ocupamos de cada detalle
        para que solo tengas que disfrutar el resultado.
      </p>
      <DescubrirMas
        href="/proyectos-a-modelos/"
        textSize="text-xs lg:text-sm"
        iconSize="w-3 h-3 lg:w-4 lg:h-4"
      />
    </div>
  </article>

  <!-- Carrousel - Segundo en móvil, a la derecha en desktop -->
  <aside class="w-full order-2 md:order-2">
    <CarrouselModelos />
  </aside>

  <!-- Texto solo para móvil (después del carrousel) -->
  <div class="block md:hidden order-3 max-w-md">
    <p class="text-xs lg:text-sm pb-1 lg:pb-2 leading-[1.7]">
      Modelos creados con <strong
        >tecnología, confort y la eficiencia
      </strong>del sistema Steel Frame, para que vivas el proceso de construir
      tu hogar con tranquilidad y en pocos meses. Nos ocupamos de cada detalle
      para que solo tengas que disfrutar el resultado.
    </p>
    <DescubrirMas
      href="/modelos/"
      textSize="text-xs md:text-sm"
      iconSize="w-3 h-3 lg:w-4 lg:h-4"
    />
  </div>
</section>
