---
import CarrouselHabitat from "@/components/homeComponents/carrouselSteelHome.astro";
---

<section class="w-full h-full flex py-10 px-40 p justify-between">
  <article class="flex flex-col p-10">
    <div
      class="text-[#545151] text-5xl font-bold text-left pb-10 leading-[1.3]"
    >
      <h2>Modelos</h2>
      <h2>SteelHome</h2>
    </div>
    <p class="text-[#545151] text-lg leading-[1.7]">
      <strong>Confort, diseño y futuro.</strong> Todo empieza <br />
      en casa. Te presentamos solcuiones <br />
      habitacionales completas, rápidas <br />
      y de alta calidad, que se adptan <br />
      a tus necesidades.
    </p>
    <a href="" class="flex py-20 hover:underline text-[#545151]">
      Descubrir más
      <svg class="w-5 h-5 ml-2 mt-0.5">
        <use href="/icons/sprite.svg#flecha-icon"></use>
      </svg>
    </a>
  </article>
  <aside class="relative w-[900px] h-[500px]">
    <CarrouselHabitat />
  </aside>
</section>
