---

---

<div class="absolute inset-0 bg-black/10"></div>
<video
  autoplay
  loop
  muted
  playsinline
  class="w-full h-full"
  width="700"
  height="500"
  ><source
    src="https://fwwrcyzdqpxgquivngii.supabase.co/storage/v1/object/sign/SteelmatVideos/proyectosAmedida.mp4?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9mNDNmYzY3NS02Y2EwLTQ0YjgtOTg4MS0xNzM5NDBjOGM3MjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJTdGVlbG1hdFZpZGVvcy9wcm95ZWN0b3NBbWVkaWRhLm1wNCIsImlhdCI6MTc1NTgwNTg2NiwiZXhwIjoxODE4ODc3ODY2fQ.f0OE2pKTQJMSU4nqFL8RgswQAmQ4cFt-hcw82AM6YjM
"
    title="YouTube video player"
    type="video/mp4"
  /></video
>
