---

---

<footer
  class="flex flex-col md:flex-row w-full bg-black justify-between text-white py-12 px-4 sm:px-20 md:px-10 xl:px-40 overflow-hidden"
>
  <!-- Logo & Address Column -->
  <div class="flex flex-col items-start gap-2 w-full md:w-auto">
    <div class="flex w-full justify-between items-start flex-wrap gap-y-4">
      <!-- Logo -->
      <div class="flex flex-col">
        <span
          class="bg-white w-4 h-1 relative left-5 bottom-2 sm:w-6 sm:h-1 sm:left-7 sm:bottom-2.5"
        ></span>
        <p class="font-bold text-4xl sm:text-5xl scale-y-170 pb-4 md:text-5xl">
          STEELMAT
        </p>
        <p class="text-xs sm:text-sm md:text-md">CONSTRUCCIÓN STEEL FRAMING</p>
      </div>

      <!-- Mobile Social Icons -->
      <div class="flex gap-x-2 sm:hidden md:hidden pt-2">
        <a
          href="https://api.whatsapp.com/send/?phone=5493425524299&text&type=phone_number&app_absent=0"
          aria-label="WhatsApp de SteelMat"
          class="hover:text-gray-400"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="w-5 h-5 sm:w-6 sm:h-6"
            ><use href="/icons/sprite.svg#whatsapp-icon"></use></svg
          >
        </a>
        <a
          href="https://www.instagram.com/steelmatoficial"
          aria-label="Instagram de SteelMat"
          class="hover:text-gray-400"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="w-5 h-5 sm:w-6 sm:h-6"
            ><use href="/icons/sprite.svg#instagram-icon"></use></svg
          >
        </a>
        <a
          href="https://www.facebook.com/Steelmatoficial"
          aria-label="Facebook de SteelMat"
          class="hover:text-gray-400"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="w-5 h-5 sm:w-6 sm:h-6"
            ><use href="/icons/sprite.svg#facebook-icon"></use></svg
          >
        </a>
      </div>
    </div>

    <div class="mt-8 md:mt-4">
      <p class="text-sm sm:text-sm md:text-md">1ra Junta 2644, Santa Fe</p>
      <p class="text-sm sm:text-sm md:text-md">+549 342 552 42899</p>
      <p class="text-sm sm:text-sm md:text-md">Argentina</p>
    </div>
  </div>

  <!-- Links Column -->
  <div
    class="flex flex-col sm:flex-row md:flex-col text-left gap-6 md:gap-1 py-12 md:py-0"
  >
    <h2 class="font-bold text-lg sm:text-md md:text-lg hidden md:block">
      SteelMat
    </h2>
    <a href="/" class="hover:underline text-sm sm:text-base">Sobre nosotros</a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSeTD82KkQVOHsecytRTVV5fgQCY7xZyzkP_kA-JH4T52Oe9hA/viewform"
      aria-label="Formulario de Trabajo con nosotros"
      class="hover:underline text-sm sm:text-base"
      target="_blank"
      rel="noopener noreferrer">Trabaja con nosotros</a
    >
  </div>

  <!-- Contact & Desktop Socials Column -->
  <div class="hidden sm:flex flex-col text-left gap-1 py-6 md:py-0">
    <div>
      <h2 class="font-bold text-lg py-2 sm:text-md md:text-lg">Contacto</h2>
      <a
        href="/contacto"
        class="hover:underline"
        aria-label="Agendar una reunión">Agendar una reunión</a
      >
    </div>
    <div
      class="flex gap-x-6 sm:gap-x-4 sm:pt-10 md:pt-5 sm:pl-4 md:pl-0 md:gap-x-6"
    >
      <a
        href="https://www.facebook.com/Steelmatoficial"
        aria-label="Facebook de SteelMat"
        class="hover:text-gray-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-6 h-6"
          ><use href="/icons/sprite.svg#facebook-icon"></use></svg
        >
      </a>
      <a
        href="https://www.instagram.com/steelmatoficial"
        aria-label="Instagram de SteelMat"
        class="hover:text-gray-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-6 h-6"
          ><use href="/icons/sprite.svg#instagram-icon"></use></svg
        >
      </a>
      <a
        href="https://api.whatsapp.com/send/?phone=5493425524299&text&type=phone_number&app_absent=0"
        aria-label="WhatsApp de SteelMat"
        class="hover:text-gray-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-6 h-6"
          ><use href="/icons/sprite.svg#whatsapp-icon"></use></svg
        >
      </a>
    </div>
  </div>
</footer>
