---
interface Props {
  positionClass?: string;
  stickyOnScroll?: boolean;
  width?: string;
  height?: string;
}

const {
  positionClass = "absolute bottom-0 right-4 translate-y-1/2",
  stickyOnScroll = true,
  width = "w-12",
  height = "h-12",
} = Astro.props;
---

<a
  href="https://api.whatsapp.com/send/?phone=5493425524299&text&type=phone_number&app_absent=0"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    class={`whatsapp-icon-selector ${width} ${height} ${positionClass} transition-all duration-500 ease-in-out z-[9999]`}
    src="/icons/whatsapp.webp"
    alt="whatsapp"
    data-sticky={String(stickyOnScroll)}
  />
</a>

<script>
  const icons = document.querySelectorAll(".whatsapp-icon-selector");
  icons.forEach((icon) => {
    if (icon instanceof HTMLElement && icon.dataset.sticky === "true") {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 200) {
          icon.style.position = "fixed";
          icon.style.bottom = "auto";
          icon.style.top = "50%";
          icon.style.transform = "translateY(-50%)";
          icon.style.zIndex = "9999";
        } else {
          icon.style.position = "";
          icon.style.bottom = "";
          icon.style.top = "";
          icon.style.transform = "";
          icon.style.zIndex = "";
        }
      });
    }
  });
</script>
