---
import { Image } from "astro:assets";
import ModelosImage from "@/assets/modelos/modelos.webp";
---

<section class="relative w-full h-[730px]">
  <Image
    src={ModelosImage}
    alt="Modelos"
    class="absolute inset-0 w-full h-full object-cover -z-10"
    loading="eager"
  />
  <div
    class="relative z-10 h-full flex flex-col justify-center px-14 pt-25 text-white"
  >
    <div class="flex flex-col gap-5 px-20">
      <h1 class="text-4xl xl:text-5xl font-bold leading-tight">
        Construimos la vivienda <br />
        de tus sueños
      </h1>
      <p class="lg:text-lg max-w-xl">
        Contamos con una selección de <strong>modelos exclusivos,</strong><br />
        diseñados para ofrecer el <strong
          >máximo confort y funcionalidad.</strong
        ><br />
        Elegí la tipología que mejor se adapta a tu estilo de vida y comenzá tu obra.
      </p>
      <a
        href="/servicios/"
        class="mt-3 inline-block w-48 rounded-lg bg-white/80 px-6 py-3 text-center text-sm font-medium text-black transition-colors hover:bg-orange-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-orange-300"
      >
        Empezar
      </a>
    </div>
  </div>
</section>
