---
import CarrouselProyectosAMedida from "@/components/proyectosAMedidasComponents/carrousel/carrouselSteelHome.astro";
---

<section class="w-full h-full flex pt-20 pb-20 px-40 justify-between">
  <article class="flex flex-col p-10 gap-10">
    <div class="flex items-center gap-2 w-[400px]">
      <h2 class="text-4xl text-gray-600">
        ¿Tenés una construcción en mente?
        <br /> en SteelMat lo hacemos realidad.
      </h2>
    </div>
    <div class="w-[400px] pt-5">
      <span class="text-lg leading-[1.7]">¿Qué hacemos?</span>
      <p class="text-lg leading-[1.7] font-bold text-justify">
        Diseñamos y adaptamos cada proyecto a tus necesidades, garantizando
        eficiencia, calidad y confort.
      </p>
      <a href="/contacto/" class="flex py-15 hover:underline text-[#545151]">
        Agendar una reunión
        <svg class="w-5 h-5 ml-2">
          <use href="/icons/sprite.svg#flecha-icon"></use>
        </svg>
      </a>
    </div>
  </article>
  <aside class="w-[800px]">
    <CarrouselProyectosAMedida />
  </aside>
</section>
