---
import { Image } from "astro:assets";
import HeroImage from "@/assets/proyectos-a-medida/proyectos-a-medida-hero.webp";
import Whatsappicon from "@/components/whatsappicon.astro";
---

<section class="relative w-full mt-18 h-[calc(730px-6rem)]">
  <div class="absolute inset-0 bg-black/50"></div>
  <Image
    src={HeroImage}
    alt="Consultoria para profesionales"
    loading="eager"
    class="absolute inset-0 w-full h-full object-cover -z-10"
  />
  <div
    class="relative z-10 h-full flex flex-col justify-center gap-2 px-6 md:px-12 text-white"
  >
    <div class="flex flex-col gap-10 pt-15 px-20">
      <div>
        <h1 class="text-4xl md:text-5xl font-bold leading-tight">
          Hacemos realidad <br />
          todos tus proyectos.
        </h1>
      </div>
      <p class="text-base md:text-xl max-w-xl">
        Ofrecemos diseños personalizados en Steel Frame para <br />
        todo tipo de destinos: viviendas, industrias o comercios.
      </p>
    </div>
  </div>

  <Whatsappicon />
</section>
