---
import { Image } from "astro:assets";
import CarrouselSteelIndustrial from "@/components/proyectosAMedidasComponents/carrousel/carrouselSteelIndustrial.astro";
---

<section class="w-full h-full flex pt-25 pb-20 px-40 justify-between">
  <article class="flex flex-col p-10 gap-10 w-[400px]">
    <div class="flex items-center gap-2">
      <svg class="h-[70px] w-[60px] fill-gray-600"
        ><use href="/icons/sprite.svg#steel-industrial"></use>
      </svg>
      <h2 class="text-3xl pl-5 text-gray-600">
        Steel Frame <br /> Empresas
      </h2>
    </div>
    <div class="w-[300px]">
      <p class="text-lg leading-[1.7] font-bold text-justify pb-2">
        Ofrecemos soluciones en Steel Frame para empresas, desarrolladores y
        proyectos industriales.
      </p>
      <p class="text-md pt-2 leading-[1.7] text-justify pb-2">
        Construcciones eficientes y escalables con materiales de calidad
        garantizada
      </p>
      <ul class="list-disc list-inside text-md pl-5 leading-[1.7] text-justify">
        <li class="pb-2">
          Infraestructura optimizada para proyectos comerciales e industriales.
        </li>
        <li class="">Reducción de tiempos de ejecución</li>
      </ul>
      <a href="/contacto/" class="flex py-12 hover:underline text-[#545151]">
        Agendar una reunión
        <svg class="w-5 h-5 ml-2 mt-0.5" fill="#545151">
          <use href="/icons/sprite.svg#flecha-icon"></use>
        </svg>
      </a>
    </div>
  </article>
  <aside class="w-[800px]">
    <CarrouselSteelIndustrial />
  </aside>
</section>
